<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Access denied</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Access denied!</h1>
            <p>Unfortunately, you do not have access here! Return to the home page!</p>
        </div><h1></h1>
            <div class="col-lg-6 col-lg-offset-3">
                <div class="btn-group btn-group-justified">
                  <p><a href="/" th:href="@{/}">Home</a></p>
                </div>
            </div>
    </div>
</section>
</div>
</body>
</html>
