<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Find book</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<section>
			<div class="jumbotron"></div>
		</section>
		<section class="container">
			<form action="#" th:action="@{/findBook}" th:object="${foundBook}"
				method="get" class="form-horizontal">
				<fieldset>
					<legend>Find book</legend>

					<!-- Sample template for some fields in Book Entity -->
					<div class="form-group">
						<label class="control-label col-lg-2" for="name">Title</label>
						<div class="col-lg-10">
							<input id="name" type="text" th:field="*{title}"
								class="form:input-large" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="authors">Author</label>
						<div class="col-lg-10">
							<input id="authors" type="text" th:field="*{authors}"
								class="form:input-large" />
						</div>
					</div>
					<div class="form-group"></div>
				</fieldset>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="submit" id="btnAdd" class="btn btn-primary"
							value="Find" />
					</div>
				</div>
			</form>
		</section>

		<section th:if="${books}">
			<th:block th:each="book : ${books}">
				<div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
					<div class="thumbnail">
						<div class="caption">
							<h3 th:text="${book.id}"></h3>
							<p th:text="${book.title}"></p>
							<p th:text="${book.authors}"></p>
							<p></p>

						</div>
					</div>
				</div>
			</th:block>


		</section>
	</div>
</body>
</html>
